body {
    background-color: #FAD3E7;

}

hr {
    border-style: none;
    border-top: dotted;
    width: 10%;
    color: #F7F5EB;
    border-width: 5px;
}

h1 {
    color: #0A2647;
}

h3 {
    color: #0081B4;
}

p{
    font: caption;
}